html {
    font-family: 'Open Sans', sans-serif;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.product__footer {
    background-color: #f0f0f0;
    color: black;
    padding: 15px;
    margin: 0px;
    height: 56px;
}
.product {
    margin-bottom: 20px;
    margin-left: 15px;
    width: 233px;
    border: solid 1px;
    border-color: #d6d4d4;
    position: relative;
}
.product__body {
    display: flex;
    justify-content: center;
}
.product__header {
    padding: 10px;
}
a {
    text-decoration: none;
}
.product__header a {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #262a2e
}
.availability {
    color: green;
}
.footer__price {
    margin-bottom: 9px;
    margin-top: 7px;
    color: #D74B4B;
    font: 600 20px/26px "Open Sans",sans-serif;
}
.footer__availability {
    font-size: 13px;
    font-weight: bold;
    position: relative;
    bottom: -6px;
}
.buy__quantity, .buy__button, .footer__availability {
    margin: 0;
}

.footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__buy {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.buy__quantity {
    width: 30px;
    height: 30px;
    padding: 0px;
    border: 1px solid #D6D4D4;
    text-align: center;
    font-weight: 600;
    border-radius: 3px;
    line-height: 30px;
    margin: 5px;
    background-color: white;
}
.buy__button {
    font-size: 10px;
    color: white;
    display: flex;
    height: 41px;
    width: 41px;
    background: #D74B4A url(../img/kosik_cely.png) no-repeat scroll 10px center !important;
    border: 1px solid;
    border-color: #DB4B4B #D52424 #DB4B4B #DA2E2E;
    border-radius: 5px;
    justify-content: center;
    font-weight: 700;
    align-items: flex-end;
}
.product__label {
    position: absolute;
    top: 0;
    right: 0;
}
